/*!
	-----------------------------------------------------------------------------
	Bienvenido
	-----------------------------------------------------------------------------
	*/


// // Template design
// .triangulo-naranja,
// .pasto-superior-derecha,
// .red-balon,
// .pasto-verde-inferior-izquierda,
// .logo-25-anos,
// .logo-quiniela,
// .logo-quiniela-terminos
// 	position: fixed
// 	z-index: 2

// .logo-quiniela,
// .logo-quiniela-terminos
// 	display: block

// .triangulo-naranja
// 	// background-color: red
// 	left: 0
// 	top: 0
// 	img
// 		width: 74%

// .pasto-superior-derecha
// 	right: 0
// 	text-align: right
// 	top: 0
// 	img
// 		width: 90%

// .red-balon
// 	bottom: 0
// 	right: 0
// 	text-align: right
// 	img
// 		width: 90%

// .pasto-verde-inferior-izquierda
// 	bottom: 0
// 	left: 0
// 	img
// 		width: 90%

// .logo-25-anos
// 	right: 24px
// 	top: 16px
// 	img
// 		max-width: 120px
// 		width: 120px

// .logo-quiniela
// 	left: 0
// 	top: 0
// 	img
// 		max-width: 380px
// 		width: 380px

// .logo-quiniela-terminos
// 	left: 0
// 	// position: fixed
// 	top: 0
// 	img
// 		max-width: 480px
// 		width: 480px

.sec-bienvenido
	background-attachment: fixed
	background-image: url('../images/IMAGEN-AZUL.png')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	padding-top: 0 !important
	position: relative
	z-index: 9

	.pasto-verde-inferior-izquierda,
	.red-balon,
	.pasto-verde,
	.logo-25-anos
		+respond-to(xs)
			display: none

	.page-bienvenida
		// background-color: red
		min-height: 100vh
		position: relative
		width: 100%
		z-index: 9

		.page-content
			align-items: center
			display: flex
			justify-content: center
			min-height: 100vh
			+respond-to(xs)
				padding: 12px 20px
			+respond-to(tp)
				align-items: flex-start
		
		.sb-pasos,
		.sb-ganadores


			.sb-pasos-title
				h2
					@extend .color-white
					@extend .fs-40
					@extend .text-up
					span
						display: block

			.sb-pasos-body
				margin-top: 32px
				ul
					list-style-position: outside
					margin-bottom: 30px
					padding-left: 26px
					+respond-to(xs)
						padding-left: 40px
						width: 94%
					li
						@extend .color-white
						@extend .fs-22
						letter-spacing: 1px
						line-height: 1.8
						margin-bottom: 8px
						text-align: left
						white-space: pre-wrap
						word-wrap: break-word
						overflow-wrap: break-word
						+respond-to(xs)
							white-space: pre-wrap
							word-wrap: break-word
							overflow-wrap: break-word
						strong
							@extend .fw-bold
							@extend .text-up

				p
					@extend .color-white
					@extend .fs-18
					padding-left: 10px
					text-align: left
					width: 100%
					white-space: pre-wrap
					word-wrap: break-word
					overflow-wrap: break-word
					+respond-to(xs)
						padding-left: 26px

				.sb-pasos-actions
					align-items: center
					display: flex
					flex-direction: column
					justify-items: center
					margin-top: 24px
					a.btn-primary,
					button.btn-primary
						color: $primary
						@extend .fs-34
						@extend .fw-bold
						height: 60px
						@extend .text-up
						width: 260px

					a.btn-primary.btn-acceder,
					button.btn-primary.btn-acceder
						background-size: 260px 40px
						@extend .fs-28
						height: 40px
						line-height: 1.1
						margin-top: 16px
					
					a.btn-primary.btn-ganador,
					button.btn-primary.btn-ganador
						background-size: 260px 40px
						@extend .fs-26
						height: 40px
						line-height: 1
						margin-top: 12px

			.sb-ganador-body
				display: block
				margin-top: 32px
				.sb-ganador-item
					display: flex
					flex-wrap: wrap
					margin-bottom: 12px
					+respond-to(xs)
						margin-bottom: 24px
					.sb-ganador-lugar
						align-items: center
						display: flex
						justify-content: flex-end
						margin-right: 16px
						width: 200px
						+respond-to(xs)
							justify-content: center
							margin-bottom: 8px
							width: 100%
						div.btn-primary.btn-lugar
							background-size: 190px 50px
							cursor: default
							@extend .fs-26
							@extend .fw-bold
							height: 50px
							padding: .375rem .75rem
							@extend .text-up
							width: 190px

					.sb-ganador-premio
						width: calc(100% - 220px)
						display: flex
						flex-direction: column
						+respond-to(xs)
							width: 100%
						.sb-ganador-premio-item
							align-items: center
							display: flex
							justify-content: flex-start
							p,
							span
								color: $white
								@extend .fs-26
								@extend .fw-bold
								@extend .text-up
							p
								margin-left: 8px

		.sb-pasos
			margin-bottom: 60px
			+respond-to(lg)
				margin-top: 70px
			+respond-to(micon)
				margin-top: 86px
			+respond-to(md)
				margin-top: 90px
			+respond-to(sm)
				margin-top: 140px

			+respond-to(tl)
				margin-top: 150px

			+respond-to(xs)
				margin-bottom: 60px
				margin-top: 120px
			+respond-to(tp)
				margin-top: 100px
			+respond-to(tx)
				margin-top: 90px
			+respond-to(tl)
				margin-top: 80px

		.sb-ganadores
			margin-left: auto
			margin-right: auto
			max-width: 90%
			width: 960px
			+respond-to(xs)
				margin-bottom: 60px
				margin-top: 130px
			+respond-to(tp)
				margin-top: 120px
			+respond-to(tx)
				margin-top: 110px
			+respond-to(tl)
				margin-top: 110px

			@media (min-width: 601px) and (max-width: 768px ) and (orientation: landscape)
				margin-top: 130px
			@media screen and (max-width: 600px ) and (orientation: landscape)
				margin-top: 120px
			@media screen and (max-width: 480px ) and (orientation: landscape)
				margin-top: 110px

			.sb-pasos-title
				h2

					+respond-to(xs)
						font-size: $fs-36
					+respond-to(tp)
						font-size: $fs-32
					+respond-to(sl)
						font-size: $fs-28
