/*!
	-----------------------------------------------------------------------------
	Bienvenido
	-----------------------------------------------------------------------------
	*/


.sec-concursante
	background-attachment: fixed
	background-image: url('../images/IMAGEN-AZUL.png')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	padding-top: 16.858rem !important
	position: relative
	z-index: 9
	.page-concursante
		min-height: 100vh
		position: relative
		width: 100%
		z-index: 9
		.page-content
			width: 100%

			h4
				@extend .color-white
				@extend .fs-24
				@extend .fw-light
				text-align: center
				@extend .text-up

			.panel-group
				// background-color: yellow
				.panel-heading
					border: 2px solid $white
					border-radius: 0
					padding: 0 16px
					.panel-title
						@extend .color-white
						@extend .fs-40
						text-align: center
						@extend .text-up
						&::after,
						&::before
							@extend .color-white
							@extend .fs-20
							opacity: 1
							top: 32px

						&::after
							content: ''

						&::before
							content: ''

					// &:first-child
					// 	background-color: red
					// 	border-bottom-left-radius: 0
					// 	border-bottom-right-radius: 0
					
					// &:last-child
					// 	background-color: purple

				.panel-collapse
					background-color: rgba( $black, .38 )
					.panel-body
						// background-color: green
						@extend .color-white
						padding: 24px 16px
						.panel-body-item,
						.panel-body-item-button
							// background-color: red
							border: 2px solid transparent
							p.panel-body-pais
								@extend .color-white
								display: block
								@extend .fs-16
								margin-bottom: 4px
								text-align: center
							img.panel-body-equipo
								display: block
								cursor: pointer
								margin: 0 auto 12px
								max-width: 42px
								width: 42px
							
							&.active
								border-color: $white

						.panel-body-item
							padding: 8px 2px

						.panel-body-item-button
							border-radius: 6px

							// .panel-body-btn
							// 	background-color: transparent

			a.btn-primary,
			button.btn-primary
				color: $primary
				@extend .fs-34
				@extend .fw-bold
				height: 60px
				margin-top: 24px
				@extend .text-up
				width: 260px

			.col-d-flex,
			.col-d-flex-end
				display: flex
				flex-direction: column
				justify-content: center
			
			.col-d-flex-end
				align-items: flex-end

			.col-d-flex
				.text-completa-registra,
				.text-resultados
					@extend .color-white
					max-width: 100%
					width: 242px

				.text-completa-registra
					@extend .fs-18
					@extend .fw-regular
				.text-resultados
					@extend .fs-20
					@extend .fw-bold

.sec-finalizado
	background-color: $accent
	padding-top: 0 !important
	position: relative
	z-index: 9
	.page-finalizado
		min-height: 100vh
		position: relative
		width: 100%
		z-index: 9

		.sf-participar
			margin-top: 24px
			.sf-participar-img
				margin: 0 auto
				max-width: 500px
				width: 500px
			.sf-participar-title
				h2
					@extend .color-white
					font-size: 3.8rem
					@extend .fw-bold
					margin-bottom: 0
					@extend .text-up
					span
						display: block
				h3
					color: $primary
					@extend .fs-26
					@extend .fw-regular
					margin-top: 0
					@extend .text-up
			.sf-participar-body
				margin-top: 64px
				p.text-codigo,
				span.text-fase
					color: $primary
					@extend .fs-18
					@extend .fw-bold
					@extend .text-up
				span.text-fase
					display: block
				input.codigo
					background-color: $white
					border: 1px solid $white
					border-radius: 6px
					color: $primary
					@extend .fs-20
					@extend .fw-bold
					@extend .text-up
					height: 42px
					margin: 16px auto 0
					padding: 8px 16px
					width: 330px
